*{padding:0px;margin:0px;}

ul,li
{
	list-style:none;
}
h1
{
	display: inline;
	font-size:30px;
	font-weight:700;
	text-shadow:0 1px 4px rgba(0,0,0,.2);
	color:#FFFFFF;
}
.login
{
	margin-top:20px;
}
.register
{
	margin-top:20px;
}
.register-box
{

	width: 410px;
	margin:120px auto 0 auto;
	text-align: center;
	padding: 30px;
	background: url(../img/mask.png);
	border-radius: 10px;
}

.login-box
{

	width: 410px;
	margin:120px auto 0 auto;
	text-align: center;
	padding: 30px;
	background-image: url(../img/mask.png);
	border-radius: 10px;
}
 .name, .password,.remember,.code,.mailbox,.sex,.grades
{
	font-size: 16px;
	text-shadow:0 1px 2px rgba(0,0,0,.1);
	 height: 42px;
	 float: left;
	 margin-top:20px;
}
.login-box .remember input
{
	box-shadow: none;
	width: 15px;
	height: 15px;
}
.login .remember
{
	padding-left: 40px;
}
.login .remember label
{
	display: inline-block;
	height: 42px;
	width: 70px;
	line-height: 34px;
	text-align: left;

}
.before
{
	margin-top: 10px;
	height: 42px;
	width: 64px;
	float: left;
}
.back
{
	height: 42px;
	float: left;
	padding: 0px 0px 0px 10px;
}
.name label,.password label,.mailbox label,.sex label,.grades label,.code label
{
	width:64px;
	color: #FFFFFF;
	text-align:right;
	vertical-align:middle;
}

.login-box #code
{
	width: 120px;
}
.login-box .codeImg
{
	float:left;
	margin-top: 0px;
	margin-left:10px;
}
.login-box img
{
	width: 148px;
	height: 42px;
	border:none;
}
.searchinput{
	float: left;
	height: 23px;
	width: 180px;
	padding: 2px 15px;
	margin: 0px;
	color: #fad40d;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
	background: none;
	border: 1px dashed #aeada4;
	border-radius:5px;
	margin-top:15px;
	margin-left: -20px;
}

input[type=text],input[type=password]
{
	width: 270px;
	height: 42px;
	padding: 2px 10px 2px 10px;
	border:1px solid rgba(255,255,255,.15);
	border-radius: 6px;
	color: #fff;
	letter-spacing: 2px;
	font-size: 16px;
	background:transparent;

}
button
{
	cursor: pointer;
	width: 100%;
	height: 44px;
	padding: 0;
	background:#ef4300;
	border:1px solid #ff730e;
	border-radius: 6px;
	font-weight: 700;
	color: #fff;
	font-size: 24px;
	letter-spacing: 15px;
	text-shadow:0 1px 2px rgba(0,0,0,.1);
}
input:focus
{
	outline: none;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset,0 2px 7px 0 rgba(0,0,0,.2);
}
button:hover
{
	box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);
}
.register-box span
{
	float: left;
	height: 42px;
	color:RED;
}

.close
{
	display: inline;
	float: right;
	margin-top: 0px;
}