*{ padding: 0; margin: 0;}

#container{
	min-width: 1024px;
	width:expression(document.body.clientWidth<1024?"1024px":auto);
	background: url("/resources/img/bg-noise.jpg");
	background-repeat: repeat;
}
#wrap{
	width: 1080px;
	height: 100%;
	margin: 0 auto;
	padding-top:10px;
}

.si_title{
	width: 100%;
	height: 30px;
	background-color: #663300;
}

.si_title p{
	color: #FFFFFF;
	font-size: 20px;
	padding: 5px;
	text-decoration: none;
}

.si_title{
	width: 100%;
	height: 30px;
	background-color: #663300;
}

.si_title p{
	color: #FFFFFF;
	font-size: 20px;
	padding: 5px;
	text-decoration: none;
}

#si_table{
	border: 2px solid #663300;
	width: 80%;
	padding-top:10px;
	margin: 25px auto;
}

#si_table li{
	list-style-type: none;
	display: inline;
}

.si_container{
	width: 90%;
	height: 20px;
	margin-left:4%;
	padding:8px;
	color: #000000;
}

.si_container:hover{
	opacity: 0.3;
	cursor: pointer;
	background: #663300;
	color: #FFFFFF;
}
.si_con_title{
	float: left;
	width: 70%;
	height:20px;
	line-height:18px;
	overflow: hidden;
	display: inline;
}

.si_con_title p{
	text-decoration: none;
	color: #000;
	font-size: 1.3em;
}

.si_con_time p{
	text-decoration: none;
	color: #000;
	font-size: 1.2em;
}


.si_con_time{
	float: right;
	width: 10%;
	height:20px;
	overflow: hidden;
	display: inline;
}

#si_addmore{
	margin: 7px auto;
	width: 92%;
	height: 20px;
	background-color: #663300;
	opacity: 0.4;
}

#si_addmore:hover{
	opacity: 0.8;
	cursor: pointer;
}

.si_container a{
	text-decoration: none;
}