<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Dao.dao.FavouritesMapper" >
  <resultMap id="BaseResultMap" type="Dao.model.Favourites" >
    <id column="collectId" property="collectid" jdbcType="INTEGER" />
    <result column="collectType" property="collecttype" jdbcType="BIT" />
    <result column="schoolOrNoteId" property="schoolornoteid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="noteId" property="noteId" jdbcType="INTEGER" />
    <result column="noteTitle" property="noteTitle" jdbcType="CHAR" />
    <result column="pushDate" property="pushDate" jdbcType="TIMESTAMP" />
    <result column="schoolName" property="schoolName" jdbcType="CHAR" />
    <result column="schoolId" property="schoolId" jdbcType="INTEGER" />
    <result column="schoolLogo" property="schoolLogo" jdbcType="CHAR" />
    <result column="continent" property="continent" jdbcType="INTEGER" />

  </resultMap>
  <sql id="Base_Column_List" >
    collectId, collectType, schoolOrNoteId, userId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from favourites
    where collectId = #{collectid,jdbcType=INTEGER}
  </select>
  <select id="selectSchoolByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    s.schoolName as schoolName,s.schoolId as schoolId,s.schoolLogo as schoolLogo,f.collectId as collectId,f.collectType as collectType,
    f.schoolOrNoteId as schoolOrNoteId,f.userId as userId,s.continent as continent
    from favourites f,schoolinformation s
    where f.schoolOrNoteId=s.schoolId and f.userId = #{userId,jdbcType=INTEGER} and f.collectType=1;
  </select>
  <select id="selectNoteByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    n.noteId as noteId,n.title as noteTitle,n.pushDate as pushDate,f.collectId as collectId,f.collectType as collectType,
    f.schoolOrNoteId as schoolOrNoteId,f.userId as userId
    from favourites f,note n
    where f.schoolOrNoteId=n.noteId and f.userId = #{userId,jdbcType=INTEGER} and f.collectType=0;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from favourites
    where collectId = #{collectid,jdbcType=INTEGER}
  </delete>
  <delete id="collectSchoolCancle" parameterType="Dao.model.Favourites">
    delete from favourites
    where userId = #{userid,jdbcType=INTEGER} and collectType=1 and schoolOrNoteId=#{schoolornoteid,jdbcType=INTEGER}
  </delete>
  <delete id="collectNoteCancle" parameterType="Dao.model.Favourites">
    delete from favourites
    where userId = #{userid,jdbcType=INTEGER} and collectType=0 and schoolOrNoteId=#{schoolornoteid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Dao.model.Favourites" >
    insert into favourites (collectId, collectType, schoolOrNoteId,
      userId)
    values (#{collectid,jdbcType=INTEGER}, #{collecttype,jdbcType=BIT}, #{schoolOrNoteId,jdbcType=INTEGER},
      #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="Dao.model.Favourites" >
    insert into favourites
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectid != null" >
        collectId,
      </if>
      <if test="collecttype != null" >
        collectType,
      </if>
      <if test="schoolornoteid != null" >
        schoolOrNoteId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectid != null" >
        #{collectid,jdbcType=INTEGER},
      </if>
      <if test="collecttype != null" >
        #{collecttype,jdbcType=BIT},
      </if>
      <if test="schoolornoteid != null" >
        #{schoolornoteid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Dao.model.Favourites" >
    update favourites
    <set >
      <if test="collecttype != null" >
        collectType = #{collecttype,jdbcType=BIT},
      </if>
      <if test="schoolornoteid != null" >
        schoolOrNoteId = #{schoolornoteid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where collectId = #{collectid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Dao.model.Favourites" >
    update favourites
    set collectType = #{collecttype,jdbcType=BIT},
      schoolOrNoteId = #{schoolornoteid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER}
    where collectId = #{collectid,jdbcType=INTEGER}
  </update>
</mapper>