<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Dao.dao.NoteMapper" >
  <resultMap id="BaseResultMap" type="Dao.model.Note" >
    <id column="noteId" property="noteid" jdbcType="INTEGER" />
    <result column="pushDate" property="pushdate" jdbcType="TIMESTAMP" />
    <result column="collectedTimes" property="collectedtimes" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="pushContent" property="pushcontent" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="CHAR" />
    <result column="notePublisher" property="notePublisher" jdbcType="CHAR" />
    <result column="commentCount" property="commentCount" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    noteId, pushDate, collectedTimes, userId, pushContent, title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    n.userId as userId,u.userName as notePublisher,title,collectedTimes,noteId,pushContent
    from note n,user u
    where noteId = #{noteid,jdbcType=INTEGER} and n.userId = u.userId
  </select>
  <select id="getAllNotes" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    n.userId as userId,u.userName as notePublisher,title,collectedTimes,noteId
    from note n,user u
    where n.userId = u.userId
    Order By n.pushDate Desc
    limit 0,#{noteCount,jdbcType=INTEGER}
  </select>
  <select id="getNotesByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from note
    where userId=#{userId,jdbcType=INTEGER}
    Order By pushDate Desc
  </select>
  <select id="getCommentTimes" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select
    COUNT(*) as commentCount
    from comment
    where noteId = #{noteid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from note
    where noteId = #{noteid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Dao.model.Note" >
    insert into note (noteId, pushDate, collectedTimes, 
      userId, pushContent, title
      )
    values (#{noteid,jdbcType=INTEGER}, #{pushdate,jdbcType=TIMESTAMP}, #{collectedtimes,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{pushcontent,jdbcType=VARCHAR}, #{title,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="Dao.model.Note" >
    insert into note
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="noteid != null" >
        noteId,
      </if>
      <if test="pushdate != null" >
        pushDate,
      </if>
      <if test="collectedtimes != null" >
        collectedTimes,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="pushcontent != null" >
        pushContent,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="noteid != null" >
        #{noteid,jdbcType=INTEGER},
      </if>
      <if test="pushdate != null" >
        #{pushdate,jdbcType=TIMESTAMP},
      </if>
      <if test="collectedtimes != null" >
        #{collectedtimes,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="pushcontent != null" >
        #{pushcontent,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Dao.model.Note" >
    update note
    <set >
      <if test="pushdate != null" >
        pushDate = #{pushdate,jdbcType=TIMESTAMP},
      </if>
      <if test="collectedtimes != null" >
        collectedTimes = #{collectedtimes,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="pushcontent != null" >
        pushContent = #{pushcontent,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=CHAR},
      </if>
    </set>
    where noteId = #{noteid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Dao.model.Note" >
    update note
    set pushDate = #{pushdate,jdbcType=TIMESTAMP},
      collectedTimes = #{collectedtimes,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      pushContent = #{pushcontent,jdbcType=VARCHAR},
      title = #{title,jdbcType=CHAR}
    where noteId = #{noteid,jdbcType=INTEGER}
  </update>
</mapper>