<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Dao.dao.SchoolInformationMapper" >
  <resultMap id="BaseResultMap" type="Dao.model.SchoolInformation" >
    <id column="schoolId" property="schoolid" jdbcType="INTEGER" />
    <result column="schoolName" property="schoolname" jdbcType="CHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="continent" property="continent" jdbcType="INTEGER" />
    <result column="offerCondition" property="offercondition" jdbcType="VARCHAR" />
    <result column="hotClass" property="hotclass" jdbcType="VARCHAR" />
    <result column="setTime" property="settime" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="CHAR" />
    <result column="classSet" property="classset" jdbcType="VARCHAR" />
    <result column="tuition" property="tuition" jdbcType="CHAR" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="ranking" property="ranking" jdbcType="INTEGER" />
    <result column="phoneNumber" property="phonenumber" jdbcType="CHAR" />
    <result column="emailAddress" property="emailaddress" jdbcType="CHAR" />
    <result column="schoolLogo" property="schoollogo" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    schoolId, schoolName, address, continent, offerCondition, hotClass, setTime, website, 
    classSet, tuition, score, ranking, phoneNumber, emailAddress, schoolLogo, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from schoolinformation
    where schoolId = #{schoolid,jdbcType=INTEGER}
  </select>
  <select id="getSchoolByContinent" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from schoolinformation
    where continent = #{continent,jdbcType=INTEGER}
  </select>
  <select id="getSchoolByRanking" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from schoolinformation
    where ranking  &lt; #{ranking,jdbcType=INTEGER} and ranking  &gt; #{ranking,jdbcType=INTEGER}-50
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from schoolinformation
    where schoolId = #{schoolid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Dao.model.SchoolInformation" >
    insert into schoolinformation (schoolId, schoolName, address, 
      continent, offerCondition, hotClass, 
      setTime, website, classSet, 
      tuition, score, ranking, 
      phoneNumber, emailAddress, schoolLogo, 
      description)
    values (#{schoolid,jdbcType=INTEGER}, #{schoolname,jdbcType=CHAR}, #{address,jdbcType=VARCHAR}, 
      #{continent,jdbcType=INTEGER}, #{offercondition,jdbcType=VARCHAR}, #{hotclass,jdbcType=VARCHAR}, 
      #{settime,jdbcType=VARCHAR}, #{website,jdbcType=CHAR}, #{classset,jdbcType=VARCHAR}, 
      #{tuition,jdbcType=CHAR}, #{score,jdbcType=DOUBLE}, #{ranking,jdbcType=INTEGER}, 
      #{phonenumber,jdbcType=CHAR}, #{emailaddress,jdbcType=CHAR}, #{schoollogo,jdbcType=CHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Dao.model.SchoolInformation" >
    insert into schoolinformation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schoolid != null" >
        schoolId,
      </if>
      <if test="schoolname != null" >
        schoolName,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="continent != null" >
        continent,
      </if>
      <if test="offercondition != null" >
        offerCondition,
      </if>
      <if test="hotclass != null" >
        hotClass,
      </if>
      <if test="settime != null" >
        setTime,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="classset != null" >
        classSet,
      </if>
      <if test="tuition != null" >
        tuition,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="ranking != null" >
        ranking,
      </if>
      <if test="phonenumber != null" >
        phoneNumber,
      </if>
      <if test="emailaddress != null" >
        emailAddress,
      </if>
      <if test="schoollogo != null" >
        schoolLogo,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schoolid != null" >
        #{schoolid,jdbcType=INTEGER},
      </if>
      <if test="schoolname != null" >
        #{schoolname,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="continent != null" >
        #{continent,jdbcType=INTEGER},
      </if>
      <if test="offercondition != null" >
        #{offercondition,jdbcType=VARCHAR},
      </if>
      <if test="hotclass != null" >
        #{hotclass,jdbcType=VARCHAR},
      </if>
      <if test="settime != null" >
        #{settime,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=CHAR},
      </if>
      <if test="classset != null" >
        #{classset,jdbcType=VARCHAR},
      </if>
      <if test="tuition != null" >
        #{tuition,jdbcType=CHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="ranking != null" >
        #{ranking,jdbcType=INTEGER},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=CHAR},
      </if>
      <if test="emailaddress != null" >
        #{emailaddress,jdbcType=CHAR},
      </if>
      <if test="schoollogo != null" >
        #{schoollogo,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Dao.model.SchoolInformation" >
    update schoolinformation
    <set >
      <if test="schoolname != null" >
        schoolName = #{schoolname,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="continent != null" >
        continent = #{continent,jdbcType=INTEGER},
      </if>
      <if test="offercondition != null" >
        offerCondition = #{offercondition,jdbcType=VARCHAR},
      </if>
      <if test="hotclass != null" >
        hotClass = #{hotclass,jdbcType=VARCHAR},
      </if>
      <if test="settime != null" >
        setTime = #{settime,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=CHAR},
      </if>
      <if test="classset != null" >
        classSet = #{classset,jdbcType=VARCHAR},
      </if>
      <if test="tuition != null" >
        tuition = #{tuition,jdbcType=CHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="ranking != null" >
        ranking = #{ranking,jdbcType=INTEGER},
      </if>
      <if test="phonenumber != null" >
        phoneNumber = #{phonenumber,jdbcType=CHAR},
      </if>
      <if test="emailaddress != null" >
        emailAddress = #{emailaddress,jdbcType=CHAR},
      </if>
      <if test="schoollogo != null" >
        schoolLogo = #{schoollogo,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where schoolId = #{schoolid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Dao.model.SchoolInformation" >
    update schoolinformation
    set schoolName = #{schoolname,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR},
      continent = #{continent,jdbcType=INTEGER},
      offerCondition = #{offercondition,jdbcType=VARCHAR},
      hotClass = #{hotclass,jdbcType=VARCHAR},
      setTime = #{settime,jdbcType=VARCHAR},
      website = #{website,jdbcType=CHAR},
      classSet = #{classset,jdbcType=VARCHAR},
      tuition = #{tuition,jdbcType=CHAR},
      score = #{score,jdbcType=DOUBLE},
      ranking = #{ranking,jdbcType=INTEGER},
      phoneNumber = #{phonenumber,jdbcType=CHAR},
      emailAddress = #{emailaddress,jdbcType=CHAR},
      schoolLogo = #{schoollogo,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR}
    where schoolId = #{schoolid,jdbcType=INTEGER}
  </update>
</mapper>